.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 40px;
}

.tracks {
    margin-top: 50px;
}

.tracks a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 1px solid var(--spotify-green);
    border-radius: 10px;

    color: var(--off-white);
}

.tracks a:hover {
    background-color: #1ED760;
    filter: drop-shadow(5px 5px 100px #1ed75f3f);
}

.tracks a:hover p {
    color: azure;
}

.tracks ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.tracks li {
    list-style: none;
    width: 50%;
}

.tracks .details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tracks img {
    max-width: 100px;
    width: 50%;
}

.tracks h1 {
    font-size: 4rem;
}

.tracks p {
    color: rgb(136, 136, 136);
}

@media only screen and (max-width:660px) {
    .tracks li {
        width: 100%;
    }

}